footer {
    background-color: var(--main-light-gray);
    font-family: var(--font-family-oxygen);
    color: var(--main-black);
    min-width: 50rem;
    max-width: 100%;
}

footer p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    padding: 1.5rem 0rem
}